<section class="admin-categories">
  
  <header class="page-header">
    <h1>Admin » New Category</h1>
  </header>

  <%= form_for [:admin, @category] do |form| %>
    <div class="form-group">
      <%= form.text_field :name, placeholder: 'New Category Name' %>
    </div>
    <%= form.submit 'Create Category', class: 'btn btn-primary' %>
  <% end %>
</section>