<main>
  <div class="page-header">
    <h1>About Us Page</h1>
  </div>
  <p>Discover the enchanting world of Jungle, where exquisite, rare, and beautifully crafted plants take center stage. Our mission is to bring the lush, vibrant essence of nature into your home, offering a curated selection of plants that are not only stunning but also a testament to the beauty and diversity of the natural world. At Jungle, we believe in the transformative power of plants, creating spaces that are not just green but also filled with life, growth, and the promise of a thriving ecosystem. Explore our collection and let your imagination soar as you discover the unique beauty of each plant, designed to inspire and enrich your life</p>
</main>